html {
    scroll-behavior: smooth;
    user-select:none;
  }
  .con {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;	
  
  }
  @media ( min-width:1900px ) {
    body {
      overflow-x:hidden;
    }
  }
  
  body{
    height: 100vh;
  }
  html > body .scrollbar-thumb {
    background-color: rgba(150,150,150,0.5);
  }
  
  
  /*==== 백스토리 ====*/
  .back-story__t{
    font-size:36px;
    font-weight:800;
    letter-spacing:-0.8px;
  }
  
  .back-story__t.t1{
    color:#FFD046;
    
  }
  
  .back-story__t.t2{
    color:#404040;
    
  }
  
  /*==== 스타일 ====*/
  .style__line{
    animation: scale-up-ver-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay:2s;
  }
  
  @keyframes scale-up-ver-top {
    0% {
      transform: scaleY(0.4);
      transform-origin: 100% 0%;
    }
    100% {
      transform: scaleY(1);
      transform-origin: 100% 0%;
    }
  }
  
  /*==== 와이어프레임 ====*/
  .wireframe{
    height:1240px;
  }
  
  .wireframe__text{
    color:#404040;
    letter-spacing:-0.4px;
    opacity:60%;
  }
  
  .wireframe__img{
    height:1240px;
    width:1920px;
    object-fit:contain;
    background-size: 150%;
    background-image:url(https://i.imgur.com/bquQ5mM.jpg);
    background-position-x:-253px;
    background-position-y:-500px;
    
  /*  애니메이션  */
    animation-name:wire;
    animation-duration:4000s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    animation-direction:alternate;
  }
  
  @keyframes wire{
    0%{background-position:center;}
    100% {background-position:-8000% center;}
  }
  
  
  /*==== 커뮤 ====*/
  .commu_ani{
    animation:commu_ani 5s linear infinite alternate running;
   
  }
  
  @keyframes commu_ani{
    0% {transform:translatex(0%);}
    100%{transform:translatex(10%);}
  }
  
  .commu_mo{
    animation:commu_mo 5s linear infinite alternate running;
   
  }
  
  @keyframes commu_mo{
    0% {transform:translatex(10%);}
    100%{transform:translatex(0%);}
  }
  
  /*==== 마페 ====*/
  .wal_arrrr {
      animation: wal_arrrr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes wal_arrrr {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
 /*==== 고맙 ====*/
  .sign-1{
    position:absolute;
    top:40%;
    right:15%;
    text-align:center;
  }
  
  .sign-1 svg path {
    fill: rgba(255, 255, 255, 0);
    stroke: #404040;
    stroke-width: 3;
    stroke-dasharray: 1000;
    animation-name: dash-ani-1;
    animation-duration: 3s;
    animation-play-state: paused;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  
  .sign-1.aos-animate svg path {
    animation-play-state: running;
  }
  
  @keyframes dash-ani-1 {
    0% {
      stroke-dashoffset: 1000;
      stroke: rgba(64,64,64,0);
    }
  
    5% {
      stroke: rgba(64,64,64,1);
    }
  
    95% {
      stroke-dashoffset: 0;
      stroke: rgba(64,64,64,1);
    }
  
    100% {
      stroke: rgba(64,64,64,0);
    }
  }